<h1>Listing players for <%= @crew.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', @crew %>
