<h1>Editing team</h1>

<%= render 'form' %>

<%= link_to 'Back', @team %>

<%#= form_for(@team, :url => stage_group_team_path(@group.stage_id, @group.id, @team.id)) do |f| %>
<%#= render :partial => "teams/form", :locals=>{:f=>f, :group=>@group}%>
<%# end %>

<%#= link_to 'Back', team_path(@group.stage.id, @group.id, @team.id) %>
