<h1>Edit bet #<%= @bet.id %></h1>

<%= form_for(@bet, :url => user_bet_path(@bet.user_id, @bet.id)) do |f| %>
<%= render :partial => "bets/form", :locals=>{:f=>f, :bet=>@bet, :match_editable=>false} %>
<% end %>

