<h1>New bet for user #<%= @user.name %></h1>

<%= form_for(@bet, :url => user_bets_path(params[:user_id])) do |f| %>
<%= render :partial => "bets/form", :locals=>{:f=>f, :bet=>@bet, :match_editable=>true} %>
<% end %>
