<h1>Listing teams for group <%= @group.name %></h1>

<% @teams.each do |team| %>
    <p><%= link_to team.name, team_path(team.id) %></p>
<% end %>

<br/>

<%= link_to 'Back', stage_group_path(params[:stage_id], params[:group_id]) %>