<h1>New match</h1>

<%= form_for(@match, :url => stage_group_matches_path(params[:stage_id], params[:group_id])) do |f| %>
<%= render :partial => "matches/form", :locals=>{:f=>f, :match=>@match} %>
<% end %>


<%= link_to 'Back', stage_group_matches_path(params[:stage_id], params[:group_id]) %>
