<header>
	<nav class="navbar-custom navbar-default" role="navigation">
		<div class="container">
    		<!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    		  <a class="navbar-brand" href="/"><%= image_tag("logo-32.png")%> Bet With Friends</a>
    		</div>

    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		  <ul class="nav navbar-nav navbar-right">
    			<li><a href="#">Informations</a></li>
    			<li><a href="#">Calendrier</a></li>
    			<% if @authenticated_user.nil? %>
    				<li><div><a href="/authentications/new" class="btn btn-default navbar-btn">Se connecter</a></div></li>
    			<% else %>
    				<li><div><%= link_to @authenticated_user.name, @authenticated_user, class: "btn btn-default navbar-btn" %> </div></li>
    			<% end %>
    		  </ul>
    		</div><!-- /.navbar-collapse -->
  	  </div><!-- /.container-fluid -->
	</nav>
</header>